*{
    margin:0;
    padding:0;
}
.body{
    display: flex;
     justify-content: center;
     align-items: center;
     background-color: red;
        margin:0;
        padding:0;


    }
    .manu-container{ display:block;
        width:100%;
        height: 100vh;
        background-color: aqua;

    }
    .pingpong{
        position: relative;
        background-color:black;
        display:none;
    
    }
    .com,.user{
        position:absolute;
    
        
        width: 200px;
        height:100px;
        background-color: white;
    }
    .manu{ 
        position: absolute;
        top:8%;
        left:30%;

    }
    .manu-list{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:blue;
        width:400px;
        height: 400px;
        position:relative;
        border:10px solid #8117e4;
        border-radius: 40px;
    }
.start{
    margin-bottom:20px;
       
        color:white;
        font-weight:lighter;
        font-size:25px;
        justify-self: center;
        width:200px;
        height:50px;
        background-color: rgba(0, 225, 255, 0.952);
        border-radius:50px;

    }
    .setting{
        
        color:white;
        font-weight:lighter;
        font-size:25px;
        justify-self: center;
        width:200px;
        height:50px;
        background-color: rgba(0, 225, 255, 0.952);
        border-radius:50px;

    }
    .play-again-container{
        position:absolute;
        display:none;
        top:40%;
        left:42%;
     
        

}
.play-again{
width:200px;
height:200px;
background-color:aqua;
position:relative;
display: flex;
justify-content: center;
align-items: center;
border:linear-gradient(rgba(0,0,0,0),#302b2b);

        border-radius:10px;
       
}
 
.score-container{
    display: none;
    width:100%;
    height:100%;
    background-color: chartreuse;

}
.score-result{
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.user-score,.com-score{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:50px;
    flex-direction: column;
    
}
.user-icon,.com-icon{
    font-size:200px;
    color:#bbb;
   
}
.user-score-text,.com-score-text{
    font-size:100px;
    
    color:white;

}
.result{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.score-result-text{
    font-size:150px;
    color:white;
   

}
.play-again{
    width:200px;
    height:60px;
    border-radius:20px;
    background-color: aquamarine;
    padding: 20px;
    font-size:30px;
    color:white;
}
.user-text,.com-text{
    color:rgb(113, 113, 246);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.setting-container2{
    display:none;
}
.setting-container{
    
    width:100%;
    height:100vh;
    background-color: indianred;
    display:flex;
    justify-content:center;
    align-items:center;
    border:3px groove greenyellow;

}

.setting-option-list-container{
    background-color:rgb(16, 235, 16);
    width:50%;
    height:50%;
    margin:73px;
    border-radius:50px;
    border:2px solid  rgb(81, 255, 0);
    box-shadow:10px 10px 10px 0 rgb(16, 235, 16);
    
}
.setting-option-list{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
    
    
}
.setting-button{
    width:80%;
    height:11%;
    font-size: 15px;
    text-align: center;
    background-color: rgb(10, 245, 233);
    color:white;
    border-radius: 5%;
    border:2px solid rgb(0, 167, 0);
    box-shadow: 2% 1.5% 0 0 green;
}
.setting-button:active{
    box-shadow: 1px 1px 0 0 green;
}
.backgound-color-container
{  display:none;
    background-color:greenyellow;
}

.background-content{
    display:inline-table;
     justify-content:center;
    margin: 20px;
    
}
.background-color{
    position:sticky;
    width:120px;
    height:120px;
    border-radius:50%;
 box-shadow:0px 0px 10px 5px grey ;
}
.background-color:active{
    width:115px;
    height: 115px;
    box-shadow:0px 0px 10px 2px grey ;
}
.back{
    width: 80px;
    height:40px;
    background-color: aqua;
    border-radius:10px;
    border: 3px groove rebeccapurple;
}
.user-name-container{
    display: none;
    background-color:rgb(113, 113, 246);

}
.user-name-content{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-new-name{width:50%;
    height:50px;
    padding-left: 40px;
  border:none;
  font-size:20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius:40px ;
    outline:none;

}
.user-name-button{
    width:10%;
    height:50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color:#d1d1d1;
    border: none;

}
.user-img-container{
    
    background-color:darkmagenta;
    display: none;
}
.user-img-content{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.chose-img{
    width:20%;
    height:40px;
    background-color: greenyellow;
    border-radius:20px;

}
.image{
width:180px;
height:180px;
border-radius: 50%;
}